.ForecastExpanded {
    color: black;
    margin: auto;
    width: 80%;
    text-align: center;
    height: 70vh;
    vertical-align: middle;
    padding-top: 10%;
}

.ForecastExpanded h2 {
    text-shadow: 2px 2px #eee;
}

.ForecastExpanded ul {
    list-style-type: none;
}

.Pane {
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    display: inline-block;
    width: 49%;
    box-shadow: 1px 1px black;
}
